body {
  text-align: center;
  background-color: black;
  background-image: url(/IMAGES/background2.png);
  background-size: cover;
  
}
h1 {
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-size: 50px;
  margin-top: 65px;
  color: white;
}

main {
  /* border: 2px solid black; */
  margin: 0 170px 0 170px;
}

div {
  border: 2px solid black;
  height: 152px;
  width: 152px;
  display: inline-block;
  margin: 25px;
  background-image: url(/IMAGES/BACK.png);
  background-size: cover;
}
#reshuffle {
  margin-top: 30px 50px 30px 50px;
  padding: 20px 30px;
  font-weight: bold;
  font-size: 30px;
  border: 5px solid black;
  font-family: "Press Start 2P", cursive;
}

h2 {
  font-family: "Press Start 2P", cursive;
  color: white;
}

#mus {
  display: inline-block;
  color: white;
  margin: 0 auto;
}
#art {
  display: inline-block;
  color: white;
  margin: 0 auto;
}

footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#player { 
  margin-top: 35px;
  justify-content: right;
}

#audio-cont {
  display: flex;
  justify-content: flex-end;
  margin-right: 180px;
}